@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Lato:400,700,400italic);

/* basics */
body {
	color: #2c2c2c
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Josefin Slab", serif;
	margin: 8px 0 8px 0;
	font-weight: 700;
	color: #000;
}
h1 {
	margin: 17px 0 15px 0
	font-size: 14pt;
}
h2 {
	margin: 11px 0 15px 0
	font-size: 13pt;
	font-weight: normal;
}
h3 {
	margin: 11px 0 15px 0
	font-size: 12pt;
	font-weight: bold;
}
h4 {
	margin: 11px 0 15px 0
	font-size: 11pt;
	font-weight: bold;
}
h5 {
	margin: 11px 0 15px 0
	font-size: 12pt;
	font-weight: normal;
}
h6 {
	margin: 8px 0 11px 0
	font-size: 10pt;
	font-weight: bold;
}

body {
	font-family: Lato
}


a, a:visited, header ul.menu li a {
	color: #B31218;
	text-decoration: none;
}
a:hover, header ul.menu li a:hover{
	text-decoration: underline;
}

p, table, ol, ul {
	margin: 8px 0 8px 0
}
ol, ul {
	margin-left: 25px;
}



nav {
	
}

.content.redborder {
	border-color: #B31218;
}

section {
	border-bottom: 1px solid #cecece
}

header#header {
	border-bottom: 1px solid #CECECE;	
}

/* box model kram, sollte eigenen file bekommen */

div#content{
    border:15px;
    border-style: none solid solid solid;
    border-color: rgb(230,0,0);
	  padding: 0px;
}
footer{
	border: 15px solid rgb(230, 0, 0);
	background-color: rgb(230, 0, 0);
}
div.field{
	padding: 0px 10px;
}
div.field-type-image{
	padding:0px;
}

header .header__region{
	clear: none
	}
header{
	padding-bottom: 3px;
}
.jgbm-header {
	padding-top: 15px;
}

#logo {
	float: left;
	width: 140px;
	display: block;
}

#mobile-menu, #show-form {
	display: none;
}


header ul.menu, #secondary-menu ul{
	display: flex;
	position: relative;
	margin: 20px 0 0 0;
	padding-left: 25px;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row
    align-content: stretch;
    z-index: 100;
}
header ul.menu li, #secondary-menu ul li{
	float: left;
	fleax-growth: 1;
	flex: 10 10 auto;
	list-style-type: none !important;
	list-style-image: none !important;
	margin: 0;
	padding: 0;
	z-index: 101;
}
header ul.menu li a, #secondary-menu ul li a{
	 padding: 8px;
}

/* dropdown only on screens larger than 800 px in with, else we switch to mobile menu anyways */
@media (min-width: 800px) {

	header ul.menu li ul {
		display: inline;
		visibility: hidden;
		position: absolute;
		padding: 0 0 0 0;
		margin: 25px 0 0 0;
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		z-index: 99;
		background: rgba(255, 255, 255, 0.8);
	}
	
	header ul.menu li:hover > ul {
    	visibility: visible;
	}
	
	header ul.menu li ul li {
		float: none!important;
		position: relative;
	}
	header ul.menu ul li a {
		display: block;
		width: 160px;
		margin-right: 0px;
		padding: 6px 8px;
		transition: background 0.05s linear 0s;
	}
	header ul.menu ul li a i {
		color: #000;
		margin-right: 3px;
	}
}


/* multicolumn only on big screens */
@media (min-width: 1300px) {
	#content.startseite .field-type-text-long {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		
		-moz-column-gap: 40px;
		-webkit-column-gap: 40px;
		column-gap: 40px;
	}
	
	/* dropdown mit 3 columns */
	header ul.menu li ul {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
		}
}



/* float login */
#block-user-login {
	float: right;
    margin-left: 10px;
    padding-left: 10px:
    border-left: 1px solid #CECECE
}


/* content*/
#main {
	padding-top: 0!important;
}
#main.startseite .field {
	margin: 20px 0;
}
	

/* View Styles:*/

/* Termine block style*/
	h2.block__title{ 	font-weight: 800; margin: 0 0 -4% 0}
	.views-field-title{ padding: 5% 0 0 0;}
	.views-field-field-datumcolor{color: grey; font-size: 80%; font-style:italic;
		                      margin: -2% 2%}
	.views-field-field-veranstaltungsort{color: grey; font-size: 80%; font-style:italic;
		                      margin: -2% 2%}
	



