h1, h2, h3, h4, h5, h6 {
	font-family: Voces, serif;
	margin: 8px 0 8px 0;
	font-weight: 700
}
h1 {
	margin: 17px 0 15px 0
	font-size: 14pt;
}


a, a:visited {
	color: #B31218;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

p, table, ol, ul {
	margin: 8px 0 8px 0
}
ol, ul {
	margin-left: 25px;
}



nav {
	border-bottom: 1px solid #cecece
}

.content.redborder {
	border-color: #B31218;
}

section {
	border-bottom: 1px solid #cecece
}


/* box model kram, sollte eigenen file bekommen */
header .header__region{
	float: left;
}

#logo {
	float: left;
	width: 140px;
}


header ul.menu{
	display: flex;
	margin-top: 25px;
	padding-left: 25px;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row
    align-content: stretch;
}
header ul.menu li{
	float: left;
	fleax-growth: 1;
	flex: 10 10 auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header ul.menu li a{
 padding: 8px;
}


