@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Lato:400,700,400italic);

/* basics */

h1, h2, h3, h4, h5, h6 {
	font-family: "Josefin Slab", serif;
	margin: 8px 0 8px 0;
	font-weight: 700
}
h1 {
	margin: 17px 0 15px 0
	font-size: 14pt;
}
h2 {
	margin: 11px 0 15px 0
	font-size: 13pt;
	font-weight: normal;
}
h3 {
	margin: 11px 0 15px 0
	font-size: 12pt;
	font-weight: bold;
}
h4 {
	margin: 11px 0 15px 0
	font-size: 11pt;
	font-weight: bold;
}
h5 {
	margin: 11px 0 15px 0
	font-size: 12pt;
	font-weight: normal;
}
h6 {
	margin: 8px 0 11px 0
	font-size: 10pt;
	font-weight: bold;
}

body {
	font-family: Lato
}


a, a:visited, header ul.menu li a {
	color: #B31218;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

p, table, ol, ul {
	margin: 8px 0 8px 0
}
ol, ul {
	margin-left: 25px;
}



nav {
	
}

.content.redborder {
	border-color: #B31218;
}

section {
	border-bottom: 1px solid #cecece
}

header#header {
	border-bottom: 1px solid #CECECE;	
}

/* box model kram, sollte eigenen file bekommen */
header .header__region{
	clear: none
}
header{
	padding-bottom: 3px;
}
.jgbm-header {
	padding-top: 15px;
}

#logo {
	float: left;
	width: 140px;
}


header ul.menu, #secondary-menu ul{
	display: flex;
	margin-top: 20px;
	padding-left: 25px;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row
    align-content: stretch;
}
header ul.menu li, #secondary-menu ul li{
	float: left;
	fleax-growth: 1;
	flex: 10 10 auto;
	list-style-type: none !important;
	list-style-image: none !important;
	margin: 0;
	padding: 0;
}
header ul.menu li a, #secondary-menu ul li a{
	 padding: 8px;
}


/* stadtgruppen menu */
header #block-menu-menu-stadtgruppen {
	display: none
}
#secondary-menu {
	float: none;
	margin-bottom: 1.5em;
}


/* multicolumn only on big screens */
@media (min-width: 1300px) {
	#content.startseite .field-type-text-long {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		
		-moz-column-gap: 40px;
		-webkit-column-gap: 40px;
		column-gap: 40px;
	}

}



/* float login */
#block-user-login {
	float: right;
    margin-left: 10px;
    padding-left: 10px:
    border-left: 1px solid #CECECE
}
	



