/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*@CHARSET "UTF-8";*/

/*	Unterteilt in:
		- Homepage structure elemente
		- Generelle Definitionen
	Benutzen in : 
		- Hauptseite
		- Stadtgruppenseite (modifiziert vielleicht?) */


/*Homepage Structure*/
* {
	box-sizing: border-box;
	}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: local('Muli Light'), local('Muli-Light'), url(https://fonts.gstatic.com/s/muli/v7/T-qN9Yh40TTJeenUALkjgg.woff2) format('woff2');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(https://fonts.gstatic.com/s/muli/v7/z6c3Zzm51I2zB_Gi7146Bg.woff2) format('woff2');
}
	


/*General-Styles: Alles was generell für die ganze Seite gelten sollte.*/		
title {
	color: #4C4C4C; 
	font-family: "Muli",Verdana, Arial; 
	text-align: left
	}
h1 {color: #4C4C4C; font-size: 3.0em; font-family: "Muli",Verdana, Arial; text-align: left; padding: 3% 2%;}
h2 {color: #4C4C4C; font-size: 1.8em; font-family: "Muli",Verdana, Arial; text-align: left; text-indent: 20px; margin: 2px;}
p {color: #4C4C4C; font-size: 12pt; font-family: "Muli",Verdana, Arial; padding: 1%; text-align:justify;  text-justify: inter-word; line-height: 130%;}
p.quote{color: #989898; font-size: 1.8em; font-family: "Muli",Verdana, Arial; padding: 1% 3%; text-align:justify; font-style: italic;}
ol{ list-style:circle inside url("../pictures/point.png");}
img {/*box-shadow:0.5px 0.5px 8px black; box-shadow: 0px 2px 10px black;*/}
hr {color: #4C4C4C}
lh {font-family: "Muli",Verdana; bbbcolor: #4C4C4C; font-size: 1.600em; font-fam;	text-align: left; text-indent: 10px;}
li{line-height: 130%;font-family: "Muli",Verdana; font-size: 12pt;}

/*Hyperlinks */
a {color: #4C4C4C; font-size: 1.250em; font-family: "Verdana", Arial; title:"Link zur Stadtgruppe"; text-decoration: none;}
a:hover {
	color: #cc3731; 
	font-size: 1.250em; 
	font-family: "Verdana", Arial; 
	title:"Link zur Stadtgruppe"; /*is this a new standart? Wont work in any browser, I suppose*/
}
a:active {
	color: white;
	font-size: 1.250em; 
	font-family: "Verdana", Arial; 
	title:"Link zur Stadtgruppe";
}


/*ca {color: #4C4C4C; font-size: 18px; font-family: "Verdana", Arial;}olors for text: #1A1A1A or #333333 or #4C4C4C*/

			
			
			
			
/*Navigations-Leiste -  nur für die Navigationsleiste. */
nav.menu{ 	border: 0.5px #C8C8C8 ;
			border-style: none none solid none;
			box-shadow: 2px 1px 1px  #E0E0E0 ;
			padding: 10px 0px 0px 0px;
			margin:0px;
			background-color: #FFFFFF;
			height:10%;
			max-height: 80px;
			position:fixed;
			top:0;
			right:0;
			left:0;
			z-index: 10;
			resize:none;}
			
	ul.menu{ 	position:absolute;
				width: 70%;
				right:7%;
				top:40%;
				resize:none;}
				
	ul.menu li { 	display:inline;
					resize:none;}
	
	ul.menu li a {	background-color:; 
					padding: 0% 1% ;
					border-radius: 0;
					color:#4C4C4C;
					font-weight:bold;
				  	font-family: "Verdana", Arial, sans-serif;
				  	font-size: 100%;
				  	text-decoration: none;
					}
					
	ul.menu li a:hover {
					color: #cc3731; 
										}
				  	
	img.navigation {position: absolute;
					left:8%;
					top:-1%;
					margin:auto;
					box-shadow:none;
					resize:none;}
	img.naviStadt{position: absolute;
					left:8%;
					top:-8%;
					margin:auto;
					box-shadow:none;
					resize:none;}
					
/*Content - Boxes: Enthalten den Inhalt der Seite----------------------------------------------------------------------------------------------*/


body {font-size:100%; }
section {width:100%;
			position: relative;}
article {}
[class*="col-"] {float: left;
				position: relative;
				width: 100%;
				height: 100%;
				margin: 2px;
				text-justify: inter-word;
				}
/*Colums:*/
.col-1{width: 99%;}
	.col-1a{width: 98%;margin: 1%;}
	.col-1H1{width:99%;  margin: 0px 0px 12px 0px;}
	.col-1aH2{ width:100%; left:3%; margin: 0px 0px 20px 0px;}
.col-2{width:20%;}
		.col-2a{width: 19%; float:right; left:-3%}
.col-3{width:29%;}
		.col-3a{width: 29%;  float: right;}
		.col-3down{width: 29%;  float: right; top: 260px;}
		.col-3side{width: 29%;height:80%; float: right;}
		.col-3ap1{width: 29%;  float: right; margin: 15px 0px 0px 0px;}
		.col-3con1{width: 29%;  left: 3%}
		.col-3con2{width: 29%;  left: 6%}
		.col-3con3{width: 29%;  left: 9%}

.col-4{width:40%;}
	.col-4a{ width:40%; left:6%;}
	.col-4ab{ width:40%; left:11%;}
	.col-4b{ width:40%; left:15%;}
	.col-4c{ width:39%; float:right;}
	.col-4aH2{ width:40%; left:6%; margin:10px 0px 8px 0px;}
	.col-4bH2{ width:40%; left:15%; margin: 10px 0px 8px 0px;}
	.col-4ap1{width: 39%;  float: right; margin: 15px 0px 0px 0px;}
.col-5{width:49%;}
	.col-5a{ width:49%; left:1%;}
.col-6{width:60%;}
	.col-6a{width:60%;left:3%;}
.col-7{width:69%;}
	.col-7H1{width:70%;  margin: 0px 0px 12px 0px;}
	.col-7im{width:69%;  margin: 15px 0px 10px 0px;}
	.col-7a{width:69%; left:5%;margin: 25px 0px 0px 0px;}
.col-75{width:75%;}
.col-8{width:80%;}
.col-85{width:80%;}
.col-9{width:90%;}
.col-95{width:95%;}
	.col-95a{width:95%; margin: 1% 2%;}


 
section.white {	background-color:#FFFFFE;
 				min-height: 50em;
 				width: 100%;}	
 
section.lightRed {	background-color: /*#FFFFFF*/  hsl(0,70%,95%); /* or #FFEBE6 */
 					min-height: 50em;
 					width: 100%;}
.contact{	background-color: /*#FFFFFF*/  hsl(0,70%,95%); /* or #FFEBE6 */
 					min-height: 25em;
 					width: 100%;}
section.darkRed {	background-color: hsl(0,80%,55%); /* or #FFEBE6 */
 				 	border: 2px;
				 	border-style: none solid solid solid;
				 	border-color:  #E6E6E6;
	 				padding: 2%;
	 				height: 100em;
	 				color:white;}


section.darkRed p {color: white; font-size: 1.125em; font-family: "Verdana", Arial;text-indent: 20px;}
section.darkRed h1 {color: white; font-size: 1.875em; font-family: "Verdana", Arial; text-align: left}




 /*different content boxes*/	
 div.content{border:15px;
 			border-style: none solid solid solid;
			border-color: #cc3731;
			padding:0%;
			margin:0 10% 0 10%;
 			background-color: #FFFFFF;
 			overflow:hidden;
 			box-shadow: 0px 0px 20px grey, 0px 0px 20px grey;}
 				
	img#slider {box-shadow:none;}
	img#inter {position: relative;
				right:0;
				left:0;
				width:100%;	
				height: 450px;
				box-shadow:none;
				}

/*Willkommen-page: mit Seiten elementen für nachrichten und login*/

aside.willkommen {position: relative; top: 0px; width: 30%; float:right;  resize:none;} /*"muss noch höher!*/
 	h1.welcome{position: relative;
 				font-size: 3.5em;
 				text-align: center}
  	img.welcomeLogo{position: relative;
					width: 100%;
					}
	img.welcomePic{position: relative;

					margin: 3% 1.5%;}
	
	p.welcomeText{}
	
 	form.login {position:relative;
 				background-color: hsl(0,70%,95%); /* or #FFEBE6 */
				padding: 9px 15%;
				min-height: 8em;
				width: 300px;
				z-index: 1;
				border: 1px;
				 border-style: solid solid solid solid;
				 border-color:  	#808080;
				resize:none;
				margin: 10px 20px;
}	
  		
  		form.login p {color: #4C4C4C; font-size: 1.5em; font-family: "Verdana", Arial; text-align: left; padding: 5%}
  		input#login-user {position:relative; left: 40px; width:100px;}
  		input#login-password {position:relative; left: 40px; width:100px;}
  		input#login-submit {position:relative; left: 40px;}
					
	div.news {position:relative;
			background-color: hsl(0,70%,95%); /* or #FFEBE6 */;
			padding: 9px 15%;;
			margin: 20px 20px;
			min-height: 30em;
			width: 300px;
			border: 1px;
			border-style: solid solid solid solid;
			border-color:  	#808080;
			z-index: 1;
			top: 50%;
			}
  							
	newsheader{color: #4C4C4C; font-size: 1.5em; font-style:bold; font-family: "Verdana", Arial; text-align: left; line-height: 30px; margin: 5% 5%;}
	newscontent{color:#4C4C4C ; font-size: 1.0em; font-style:italic; font-family: "Verdana", Arial; text-align: right; margin: 0% 10% 0% 5%;}	
	 				
/*-------------------Die jGBM-Section--------------------------------------------*/

/*-------------------Die Sprecher-Section--------------------------------------------*/


img.sprecher{}

/*-------------------Die Stadtgruppen-Section--------------------------------------------*/
section#stadtgruppen{}
	div#locations {	marging: ;
					padding: 30px;}
	div#locations ol {	float:left;
						padding: 10px 20px 0px 40px;}
	div#googleMap{	position:relative;
					height:25em;}
								 				
/*-------------------Die Mitglied-Section---------------siehe oben!---------------------*/

li.advantage{ margin:0 20px 20px 0; vertical-align:top}


/*-------------------Die Mitglied-Section---------------siehe oben!---------------------*/
			
/*-------------------Die Kontakt-Section---------------siehe oben!---------------------*/
section.kontakt{ }		
 /*Footer-Box soll im rot verschwinden ;)^^*/
footer{	padding:0px;
		margin: 0px;
		background-color: #cc3731;
		min-height: 100px;
		color:white;}}

 				
  					
