.only-mobile {
	display: block;
}
.only-screen, .tripplebox-wrapper, .tripplebox  {
	display: none !important;
}
nav,nav#topnavigation {
	display: none;
}
nav,nav#topnavigation {
	float: none;
	clear: both;
}
nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}
nav ul li a {
	padding: 0;
	margin: 0
}
nav ul li ul {
	display: block;
	position: relative;
	visibility: visible;
	padding: 0;
	margin: 0
}
nav ul li ul li, nav ul li ul li a {
	border: none;
	padding: 0;
	margin: 0
}

#mobile-menu {
	position: relative;
	float: right;
	margin: 30px 20px 15px 10px;
	width: 39px;
	height: 27px;
	background: url('../img/mobilemenue.png') center center;
	text-indent: -9999em;
}


/* revent floating:*/
.content .columns-two-left, .content .columns-two-right{
	float: none;
	width: auto;
}
