@CHARSET "ISO-8859-1";

body {background-color: #FFFFFF ;}
title {color: #4C4C4C; font-family: "Verdana", Arial; text-align: left}
h1 {color: #4C4C4C; font-size: 30px; font-family: "Verdana", Arial; text-align: left}
p {color: #4C4C4C; font-size: 18px; font-family: "Verdana", Arial; text-align: justify}

a {color: #4C4C4C; font-size: 18px; font-family: "Verdana", Arial;}

img {]}
/*colors for text: #1A1A1A or #333333 or #4C4C4C*/