@CHARSET "ISO-8859-1";
	
/*	Unterteilt in:
		- Homepage structure elemente
		- Generelle Definitionen
	Benutzen in : 
		- Hauptseite
		- Stadtgruppenseite (modifiziert vielleicht?) */


/*Homepage Structure*/

/*Navigations-Leiste -  nur für die Navigationsleiste. */
nav.menu{ 	border:1px black solid;
			border-style: solid none;
			padding:10px;
			margin:0px;
			background-color: #FFFFFF;
			
			position:fixed;
			top:0;
			right:0;
			left:0;
			}
	ul.menu{float:right;
			position: fixed;
			right:30px;	}
	ul.menu li { display:inline;}
	ul.menu li a {	background-color:#4C4C4C; 
					padding:10px 20px ;
					border-radius: 4px 4px 0 0;
					color:#FFFFFF;
				  	font-family: "Verdana", Arial;
				  	text-decoration: none;}
	img.navigation {position: static;
					left:0;
					float: left}
/*Content - Boxes: Enthalten den Inhalt der Seite*/
body {font-size:100%; }
section {}
article {}

 /*different content boxes*/	
 div.content{	border:15px;
 				border-style: none solid solid solid;
				border-color: #cc3731;
				padding:0%x;
				margin:10%;
 				background-color: #FFFFFF;}	
 
 section.white {	background-color:#FFFFFE; 
				 	border: 1px;
				 	border-style: none solid solid solid;
				 	border-color:  #E6E6E6;;
	 				float:left;
	 				padding: 1%;
	 				height:800px;
	 				overflow:hide;}	
 
 section.lightRed {	background-color:#FFEBE6;
				 	border: 1px;
				 	border-style: none solid solid solid;
				 	border-color:  #E6E6E6;
 					float:left;
	 				padding: 1%;
	 				height:800px;
	 				overflow: hide;}
	 					
 section.text{ 	text-align:justify;
 				}
 
 
 /*Willkommen-page: mit Seiten elementen für nachrichten und login*/
 	section.willkommen{ }
  	aside.willkommen {float:right;}
  	
  	form.login {	background-color:#FFEBE6;
					padding: 10px;
					max-height:120px;
					max-width:200px;
					margin:10px;
					z-index: 1;}	
   		
   		p.login {color: #4C4C4C; font-size: 0.875em; font-family: "Verdana", Arial; text-align: left;}
   		input#login-user {width:100px;}
   		input#login-password {width:100px;}
   		input#login-submit {}
   		
 	div.news {	background-color:#FFEBE6;
				padding: 10px;
				max-height:600px;
				max-width:200px;
				margin:10px;
				z-index: 1;}
   							
		newsheader{color: #4C4C4C; font-size: 0.875em; font-style:bold; font-family: "Verdana", Arial; text-align: left; line-height: 30px;}
 		newscontent{color:#4C4C4C ; font-size: 0.667em; font-style:italic; font-family: "Verdana", Arial; text-align: left}	

 
 /*Footer-Box soll im rot verschwinden ;)^^*/
footer{	padding:0px;
		margin: 0px;
		background-color: #cc3731;
		color:white;}}

 				
  					

/*General-Styles: Alles was generell für die ganze Seite gelten sollte.*/		
title {color: #4C4C4C; font-family: "Verdana", Arial; text-align: left}
h1 {color: #4C4C4C; font-size: 1.875em; font-family: "Verdana", Arial; text-align: left}
p {color: #4C4C4C; font-size: 1.125em; font-family: "Verdana", Arial;text-indent: 20px;}
ol{ list-style:circle inside;}
img {}
hr {color: #4C4C4C}

/*Hyperlinks */
a {color: #4C4C4C; font-size: 1.250em; font-family: "Verdana", Arial; title:"Link zur Stadtgruppe"; text-decoration: underline;}
a:hover {color: #0000FF; font-size: 1.250em; font-family: "Verdana", Arial; title:"Link zur Stadtgruppe";}
a:active {color: red;; font-size: 1.250em; font-family: "Verdana", Arial; title:"Link zur Stadtgruppe";}
/*ca {color: #4C4C4C; font-size: 18px; font-family: "Verdana", Arial;}olors for text: #1A1A1A or #333333 or #4C4C4C*/