/* box model */ 
nav ul:after, section:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.content {
	box-sizing: border-box;
	padding:15px;
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
}

.content.redborder {
	border-left: 15px solid;
	border-right: 15px solid;
	padding: 0;
}

section {
	padding: 0 10px;
	position: relative;
}


section .left-column {
	position: relative;
	float: left;
	width: 70%;
	box-sizing: border-box;
	padding-right: 10px;
}

section .right-column {
	position: relative;
	float: right;
	width: 30%;
}

nav {
	padding-bottom: 10px;
}

nav ul{
	display: flex;
	margin-top: 25px;
	padding-left: 25px;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row
    align-content: stretch;
}
nav ul li{
	float: left;
	fleax-growth: 1;
	flex: 10 10 auto
}
nav ul li a{
 padding: 8px;
}

#logo {
	float: left;
}
