@import url(https://fonts.googleapis.com/css?family=Voces);	
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: local('Muli Light'), local('Muli-Light'), url(https://fonts.gstatic.com/s/muli/v7/T-qN9Yh40TTJeenUALkjgg.woff2) format('woff2');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(https://fonts.gstatic.com/s/muli/v7/z6c3Zzm51I2zB_Gi7146Bg.woff2) format('woff2');
}



html {
	font-family: Muli, Verdana, sans-serif;
}
body {
	line-height: 130%
}

h1, h2, h3, h4, h5, h6 {
	font-family: Voces, serif;
	margin: 8px 0 8px 0;
	font-weight: 700
}
h1 {
	margin: 17px 0 15px 0
	font-size: 14pt;
}
h2 {
	
}

a, a:visited {
	color: #B31218;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

p, table, ol, ul {
	margin: 8px 0 8px 0
}
ol, ul {
	margin-left: 25px;
}

nav {
	border-bottom: 1px solid #cecece
}

.content.redborder {
	border-color: #B31218;
}

section {
	border-bottom: 1px solid #cecece
}



